- content_for(:head) do
	= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"
	:javascript
		$(document).ready(function(){
			$('#admin-videos').sortable({
				axis: 'y',
				dropOnEmpty: false,
				handle: '.handle',
				cursor: 'crosshair',
				items: 'li',
				opacity: 0.4,
				scroll: true,
				update: function(){
					$.ajax({
						type: 'post',
						data: $('#admin-videos').sortable('serialize'),
						dataType: 'script',
						url: "#{sort_path}"})
					}
				});
		});
		
.admin-container

	%h1 Admin Section
	
	%p= link_to "Add New Video", new_video_path
	%p= link_to "Backgrounds", backgrounds_path
	%p= link_to "Back To Homepage", root_path
	
	%ul#admin-videos
		-Video.all.sort_by(&:order).each do |video|
			%li{ :id => "video_#{video.id}"}
				.fl
					=image_tag video.thumb(:thumb)
				.fl{ :style => "margin-left: 10px;" }
					%h3=video.title
					=link_to "view", video
					=link_to "edit", edit_video_path(video)
					=link_to "delete", video, :method => :delete, :confirm => "Are you sure you want to delete this video?"
				.handle
					[click and drag here to reorder]
				.clear